@model IEnumerable<ExpenseTracker.Models.Purchase>

@{
    ViewBag.Title = "Index";
    AjaxOptions ajax = new AjaxOptions();
    ajax.HttpMethod = "GET";
    ajax.OnSuccess = "updateState";
}

<link href="~/Content/purchase_table.css" rel="stylesheet" />

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="table">
    <div class="table-header">
        <div>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Cost)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Date)
        </div>
        <div></div>
    </div>

    @foreach (var item in Model)
    {
        <div>
            <div class="table-row">
                <div>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </div>
                <div>
                    @Html.DisplayFor(modelItem => item.Cost)
                </div>
                <div>
                    @Html.DisplayFor(modelItem => item.Date)
                </div>
                <div>
                    @Ajax.ActionLink("View details", "Details", new { id = item.PurchaseId }, ajax, new { onClick = "setShowState(" + item.PurchaseId + ");", id = "link-" + item.PurchaseId })
                    <a class="hidden" onclick="setHideState(@item.PurchaseId)">Hide details</a>
                </div>
            </div>
            <div class="details hidden" id="purchase-@item.PurchaseId">
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")

<script>
    var pId;
    function setShowState(id) {
        pId = id;
    }

    function setHideState(id) {
        setShowState(id);
        updateState("");
    }

    function updateState(res) {
        $("#purchase-" + pId).html(res);

        toggleDisplay($("#purchase-" + pId));
        toggleDisplay($("#link-" + pId));
        toggleDisplay($("#link-" + pId).next());
    }

    function toggleDisplay(el) {
        el.toggleClass("hidden");
    }
</script>
}